<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bank</title>
</head>
<body>
    <h1>Bank account</h1>
    <div>
        <h2>Balance</h2>
        <span id="balance" th:text="${#numbers.formatDecimal(balance, 1, 2) + '€'}"></span>
    </div>
    <div>
        <h2>Deposite</h2>
        <form method="POST" action="/deposite">
            <label for="deposite">Amount :</label>
            <input id="deposite" type="text" name="amount" />
            <span>€</span>
        </form>
    </div>
    <div>
        <h2>Withdraw</h2>
        <form method="POST" action="/withdraw">
            <label for="withdraw">Amount :</label>
            <input id="withdraw" type="text" name="amount" />
            <span>€</span>
        </form>
    </div>
    <div>
        <h2>Opérations</h2>
        <table>
            <thead>
                <th>Operation</th>
                <th>Date</th>
                <th>Amount</th>
            </thead>
            <tbody>
                <tr th:each="operation : ${operations}">
                    <td th:text="${operation.type}"></td>
                    <td th:text="${#dates.format(operation.creationDate, 'dd/MM/yyyy')}"></td>
                    <td th:text="${#numbers.formatDecimal(operation.amount, 1, 2) + '€'}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>